* {
    margin: auto;
    padding: 0;
    font-family: Arial;
    border-radius: 5px;
}

p{font-size: 20px;}

body {
    background-color: #7C858B;
}
/*392A2D
linear-gradient(to right, #D2691E, #FF8C00, orange)*/
.mati{
    position: fixed;
}

header {
    background: #194D80;
    margin-top: 0px;
}

header h1 {
    text-align: center;
    color: #EEEEEE;
    padding: 0.5em;
    padding-top: 1.4em;
    font-size: 1.5em;
}

header h2 {
    text-align: center;
    color: #EEEEEE;
    padding: 0.5em;
    font-size: 1.2em;
}

nav {
    background: rgb(201, 201, 201);
    background: -moz-linear-gradient(270deg, rgb(201, 201, 201) 28%, rgb(232, 232, 232) 70%);
    background: -webkit-linear-gradient(270deg, rgb(201, 201, 201) 28%, rgb(232, 232, 232) 70%);
    background: -o-linear-gradient(270deg, rgb(201, 201, 201) 28%, rgb(232, 232, 232) 70%);
    background: -ms-linear-gradient(270deg, rgb(201, 201, 201) 28%, rgb(232, 232, 232) 70%);
    background: linear-gradient(0deg, rgb(201, 201, 201) 28%, rgb(232, 232, 232) 70%);
    min-height: 2em;
    position: fixed;
    top:0;

}
.enblanco{
    height: 50px;
    width: 170px;
}

nav p {
    display: inline;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #392A2D;
    margin: 0.3em;
}

nav a:hover, nav a:active {
    text-decoration: none;
    color: #fdfdff;
    background-color: #543683;
    margin: 0.3em;
}

section {
    width: 75%;
    background-color: #EEEEEE;
    float: left;
}

section h1 {
    text-align: center;
    padding: 0.5em;
    color: black;
    font-size: 1.4em;
}

section h2 {
    text-align: center;
    padding: 0.5em;
    color: #424242;
    font-size: 1.2em;
}

section h3 {
    text-align: left;
    padding: 0.3em 3em;
    color: #663366;
    font-size: 1em;
}

article {
    margin: 0.5em 3em;
    /*padding: 0.5em 2em;*/
    background-color: #EEEEEE;
    /*border: 3px double #808080;*/
}

article p {
    text-align: justify;
}

aside {
    width: 25%;
    float: right;
}

#anuncio1 {
    margin: 20px;
    padding: 10px;
    /*border: 2px solid #00008e;*/
    background-color: #EEEEEE;
}

#anuncio1 h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em 0em;
}

#anuncio1 p {
    font-size: 0.9em;
    padding: 0.2em 1em;
}

footer {
    clear: both;
    background-color: #7C858B;
}

footer h1 {
    text-align: center;
    font-size: 1.4em;
    color: #194D80;
    padding: 0.7em;
}

footer h2 {
    text-align: center;
    font-size: 1em;
    padding: 0.4em;
}

footer a {
    text-decoration: none;
    color: #4c4780;
}

.divForm {
    margin: 1em;
    text-align: center;
}

.divVarC {
    background-color: #EEEEEE;
    width: 220px;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
}

#valIngresar{
    display: none;
}

#resultados{
    display: none;
}

.calculos
{
    float:left;
}

#canvas
{
    border: 1px solid black
}

img{
    border: 2px solid #194D80;
}